$primary: #2563eb;
$secondary: #64748b;
$success: #22c55e;
$info: #0ea5e9;
$warning: #eab308;
$danger: #ef4444;
$light: #f8fafc;
$dark: #0f172a;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
